---
# See: https://doc.traefik.io/traefik/middlewares/http/basicauth/
http:
  middlewares:
    auth:
      basicAuth:
        users:
          - "admin:{{global.password | b64decode | password_hash('md5', global.salt | truncate(8, False, ''))}}"
