---
name: {{app.name}}

services:
  app:
    image: "traefik:3"

    container_name: {{app.cbiname}}
    ports:
      - 80:80
      - 443:443
{% if docker.infra.cert_resolver == 'stepca' %}
    environment:
      - LEGO_CA_CERTIFICATES=/step-ca/certs/root_ca.crt
      - LEGO_CA_SYSTEM_CERT_POOL=true
{% endif %}
    networks:
      {{docker.infra.proxy_network}}:
        aliases:
          - traefik.{{global.domain}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./mnt/traefik.yml:/etc/traefik/traefik.yml
      - ./mnt/dynamic:/etc/traefik/dynamic
      - acme:/etc/traefik/acme
{% if docker.infra.cert_resolver  == 'stepca' %}
      - step-ca_files:/step-ca:ro
{% endif %}
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{app.name}}.rule=Host(`{{app.fqdn}}`)
      - traefik.http.routers.{{app.name}}.service=api@internal
      - traefik.http.routers.{{app.name}}.tls=true
      - traefik.http.routers.{{app.name}}.tls.certresolver={{docker.infra.cert_resolver}}
      - traefik.http.routers.{{app.name}}.middlewares=auth@file

{% if app.use_certdumper %}
  certdumper:
    image: ghcr.io/kereis/traefik-certs-dumper:latest
    container_name: traefik-certdumper
{% if app.certdumper_restart_containers %}
    command: --restart-containers {{app.certdumper_restart_containers | join(',')}}
{% endif %}

    environment:
{% if app.certdumper_extract_domains %}
{% set extract_domains = app.certdumper_extract_domains %}
{#
Unfortunately, certdumper doesn't create a directory when only one cert is
dumped. Two or more certs, and the directory is created. But we need a
stable mount path for the certs, regardless of their number.
#}
{% if extract_domains | length == 1 %}
{% set extract_domains = extract_domains + ['dummy.' ~ global.domain ] %}
{% endif %}
      - DOMAIN={{extract_domains | join(',')}}
{% endif %}

    networks:
      - {{docker.infra.proxy_network}}

    volumes:
    - acme:/traefik:ro
    - certdumper_files:/output:rw
    - ./mnt/var_lib_docker:/var/lib/docker
{% if app.certdumper_restart_containers %}
    - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
    # Otherwise we get anonymous volume :-(

    restart: unless-stopped
{% endif %}

networks:
  traefik:
    external: true

volumes:
  acme:
{% if docker.infra.cert_resolver == 'stepca' %}
  step-ca_files:
    external: true
{% endif %}
{% if app.use_certdumper %}
  certdumper_files:
{% endif %}
