---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG  # TRACE, DEBUG, INFO, WARN, ...

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
              
  websecure:
    address: ":443"


api:
  dashboard: true

  
providers:
  docker:
    exposedByDefault: false
    network: {{docker.infra.proxy_network}}
    
  file:
    directory: /etc/traefik/dynamic
    watch: true


certificatesResolvers:
{% if docker.infra.cert_resolver == 'letsencrypt' %}
  letsencrypt:
    acme:
      tlschallenge: true
      storage: /etc/traefik/acme/acme.json
{% endif %}
{% if docker.infra.cert_resolver == 'stepca' %}
  stepca:
    acme:
      tlschallenge: true
      storage: /etc/traefik/acme/acme.json
      caServer: https://ca.{{global.domain}}:9000/acme/acme/directory
{% endif %}
