---
name: {{app.name}}

services:
  mailserver:
    image: mailserver/docker-mailserver
    hostname: mail
    domainname: {{global.domain}}
    container_name: {{app.cbiname}}
    environment:
    # https://docker-mailserver.github.io/docker-mailserver/latest/config/environment/
      - ENABLE_UPDATE_CHECK=1
      - UPDATE_CHECK_INTERVAL=7d

      - LOG_LEVEL=info

      - ONE_DIR=1
      - PERMIT_DOCKER=connected-networks

      - ENABLE_RSPAMD=1

      - RSPAMD_LEARN=1
      # the Bayes classifier will be trained (with the help of Sieve scripts)
      # when moving mails

      # a) from anywhere to the Junk folder (learning this email as spam);
      # b) from the Junk folder into the INBOX (learning this email as ham).


      # Rspamd replaces the functionality of all these anti-spam services,
      # disable them:
      - ENABLE_OPENDKIM=0
      - ENABLE_OPENDMARC=0
      - ENABLE_POLICYD_SPF=0
      - ENABLE_AMAVIS=0
      - ENABLE_SPAMASSASSIN=0
      - ENABLE_POSTGREY=0

      - ENABLE_CLAMAV=1


      - ENABLE_IMAP=1
      - ENABLE_POP3=1


      - SSL_TYPE=manual
      - SSL_CERT_PATH=/certdumper/mail.{{global.domain}}/cert.pem
      - SSL_KEY_PATH=/certdumper/mail.{{global.domain}}/key.pem

      - ENABLE_QUOTAS=0
      - POSTFIX_MESSAGE_SIZE_LIMIT=51200000
      - ENABLE_MANAGESIEVE=1
      - POSTMASTER_ADDRESS=postmaster@{{global.domain}}
      - POSTFIX_INET_PROTOCOLS=ipv4
      - DOVECOT_INET_PROTOCOLS=ipv4
      - DOVECOT_MAILBOX_FORMAT=maildir

      - LOGROTATE_INTERVAL=weekly

      - MOVE_SPAM_TO_JUNK=1

      - ACCOUNT_PROVISIONER=LDAP
      - LDAP_SERVER_HOST=ldap://{{docker.infra.ldap.host_fqdn}}
      - LDAP_SEARCH_BASE={{docker.infra.ldap.base_dn}}
      - LDAP_BIND_DN=cn=Directory Manager
      - LDAP_BIND_PW={{global.password | b64decode}}


      - LDAP_QUERY_FILTER_USER=(&(mail=%s)(mailAccountActive=yes))
      - LDAP_QUERY_FILTER_GROUP=(&(objectclass=organizationalPerson)(mail=%s))
      - LDAP_QUERY_FILTER_ALIAS=(&(mailAlias=%s)(mailAccountActive=yes))
      - LDAP_QUERY_FILTER_DOMAIN=(&(|(mail=*@%s)(mailAlias=*@%s))(mailAccountActive=yes))

      # %u - username
      # %n - user part in user@domain, same as %u if there's no domain
      # %d - domain part in user@domain, empty if there's no domain
      - DOVECOT_USER_FILTER=(&(mail=%u)(mailAccountActive=yes))
      - DOVECOT_USER_ATTRS=mail=user,=home=/var/mail/%d/%n,=mail=maildir:/var/mail/%d/%n/Maildir,=uid=5000,=gid=5000

      - DOVECOT_AUTH_BIND=yes
      - DOVECOT_PASS_FILTER=(&(mail=%u)(mailAccountActive=yes))
      - DOVECOT_PASS_ATTRS=mail=user,userPassword=password

    networks:
      - {{docker.infra.proxy_network}}

    ports:
      - "0.0.0.0:25:25"    # SMTP  (Mail in)
      # see: https://blog.chlod.net/technical/unintentional-smtp-open-relay-due-to-overzealous-docker-port-binding/

      - "465:465"  # SMTPS (Mail submission SSL)
      - "587:587"  # SMTP  (Mail submission STARTTLS)

      - "143:143"  # IMAP STARTTLS
      - "993:993"  # IMAPS

      - "110:110"  # POP3 STARTTLS
      - "995:995"  # POP3S

      - "4190:4190" # Managesieve

    volumes:
      - data:/var/mail
      - state:/var/mail-state
      - logs:/var/log/mail
      - traefik_certdumper_files:/certdumper
      #- /var/lib/docker/volumes/traefik_acme/_data/acme.json:/etc/letsencrypt/acme.json:ro

    restart: unless-stopped

    #cap_add:  # Only needed for fail2ban
    #  - NET_ADMIN

networks:
  {{docker.infra.proxy_network}}:
    external: true


volumes:
  data:
  state:
  logs:

  traefik_certdumper_files:
    external: true