---
apiVersion: v1
kind: Secret
metadata:
  name: awx-admin-password
  namespace: awx
type: Opaque
data:
  password: {{ default_password | b64encode }}

---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: awx
spec:
  service_type: ClusterIP # default
  ingress_type: ingress
  hostname: awx.{{domain}}
  image_version: "{{versions['awx']}}"
