---
name: step-ca

services:
  app:
    image: smallstep/step-ca
    # https://hub.docker.com/r/smallstep/step-ca

    container_name: ${COMPOSE_PROJECT_NAME}
    environment:
      - DOCKER_STEPCA_INIT_NAME=Smallstep Local ({{domain}})
      - DOCKER_STEPCA_INIT_DNS_NAMES=localhost,ca.{{domain}}
      - DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT=true
      - DOCKER_STEPCA_INIT_ACME=true
      - DOCKER_STEPCA_INIT_PASSWORD={{default_password}}
    networks:
      {{docker_internal_network}}:
        aliases:
          - ca.{{domain}}
    volumes:
      - files:/home/step
    ports:
      - 127.0.0.1:9000:9000
    restart: unless-stopped

networks:
  {{docker_internal_network}}:
    external: true

volumes:
  files:
