---
{% import 'utils.j2' as utils %}
name: {{app.name}}

services:
  app:
    image: linuxserver/bookstack
    # https://hub.docker.com/r/linuxserver/bookstack

    container_name: {{app.cbiname}}-app
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{app.timezone}}
      - APP_URL=https://{{app.fqdn}}

      - APP_KEY={{app.app_key}}

      - DB_HOST=db
      - DB_USERNAME=bookstack
      - DB_PASSWORD=bookstack
      - DB_DATABASE=bookstack
    networks:
      - {{docker.infra.proxy_network}}
      - backend
    volumes:
      - files:/config
    restart: unless-stopped
    labels:
{{ utils.traefik_labels(docker, app.name, [app.fqdn], 80) }}

    depends_on:
      - db

  db:
    image: mariadb:11
    container_name: {{app.cbiname}}-db
    volumes:
      - data:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD={{global.password| b64decode}}
      - MARIADB_DATABASE=bookstack
      - MARIADB_USER=bookstack
      - MARIADB_PASSWORD=bookstack
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
  {{docker.infra.proxy_network}}:
    external: true

volumes:
  files:
  data:
