---
{% import 'utils.j2' as utils %}
name: {{app.name}}

services:
  ssp:
    image: ltbproject/self-service-password:latest
    # https://self-service-password.readthedocs.io/en/stable/

    container_name: {{app.cbiname}}
    networks:
      - {{docker.infra.proxy_network}}
    volumes:
      - ./mnt/conf:/var/www/conf
      - ./mnt/templates_c:/var/www/templates_c
      - ./mnt/cache:/var/www/cache
    restart: unless-stopped
    labels:
{{ utils.traefik_labels(docker, app.name, [app.fqdn], 80) }}

networks:
  {{docker.infra.proxy_network}}:
    external: true
