{% macro standard_labels(docker, app, port) %}
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{app.name}}.rule=Host(`{{app.fqdn}}`)
      - traefik.http.services.{{app.name}}.loadbalancer.server.port={{port}}
      - traefik.http.routers.{{app.name}}.tls=true
{% if docker.infra.cert_resolver %}
      - traefik.http.routers.{{app.name}}.tls.certresolver={{docker.infra.cert_resolver}}
{% endif %}
{% endmacro %}
