{% macro traefik_labels(docker, router_name, fqdn_list, port) %}
      - traefik.enable=true
      - "traefik.http.routers.{{router_name}}.rule={{ fqdn_list | map('regex_replace', '^(.*)$', 'Host(`\\1`)') | join(' || ') }}"
      - traefik.http.services.{{router_name}}.loadbalancer.server.port={{port}}
      - traefik.http.routers.{{router_name}}.tls=true
{% if docker.infra.cert_resolver %}
      - traefik.http.routers.{{router_name}}.tls.certresolver={{docker.infra.cert_resolver}}
{% endif %}
{% endmacro %}
