---
# https://gitea.com/gitea/helm-chart/

redis-cluster:
  enabled: false
redis:
  enabled: false
postgresql:
  enabled: false
postgresql-ha:
  enabled: false

persistence:
  enabled: true
cache:
  enabled: false

image:
  tag: {{app.version}}

gitea:
  config:
    database:
      DB_TYPE: sqlite3
    indexer:
      ISSUE_INDEXER_TYPE: bleve
      REPO_INDEXER_ENABLED: true
    service:
      DISABLE_REGISTRATION: true
    server:
      SSH_DOMAIN: gitea.{{global.domain}}
      SSH_PORT: {{app.ssh_port}}
  admin:
    username: {{app.user_name}}
    password: {{global.password | b64decode}}
    email: {{app.user_name}}@{{global.domain}}

service:
  ssh:
    type: NodePort
    nodePort: {{app.ssh_port}}

ingress:
  enabled: true
  hosts:
    - host: gitea.{{global.domain}}
      paths:
        - path: /
          pathType: Prefix
