---
{% set version  = app.version | default("1.24") %}
{% set ssh_port = app.ssh_port | default('2222') %}

{% import 'utils.j2' as utils %}

# See: https://docs.gitea.com/installation/install-with-docker
#      https://github.com/go-gitea/gitea/tree/main/contrib/environment-to-ini
name: {{app.name}}

services:
  app:
    image: gitea/gitea:{{version}}

    container_name: {{app.name}}
    environment:
      - USER_UID=1000
      - USER_GID=1000

      - GITEA__security__INSTALL_LOCK=true

      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__service__REQUIRE_SIGNIN_VIEW=true
      - GITEA__service_0X2E_EXPLORE__REQUIRE_SIGNIN_VIEW=true

      - GITEA__server__ROOT_URL=https://{{app.name}}.{{global.domain}}/
      - GITEA__server__SSH_DOMAIN={{app.name}}.{{global.domain}}
      - GITEA__server__SSH_PORT={{ssh_port}}

    networks:
      - {{docker.infra.proxy_network}}
    ports:
      - "{{ssh_port}}:22" # make internal SSH accessible
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/data
    restart: unless-stopped
{{ utils.standard_labels(docker, app, app.fqdn, 3000) }}

networks:
  {{docker.infra.proxy_network}}:
    external: true

volumes:
  data:
