---
# See: https://docs.gitea.com/installation/install-with-docker
#      https://github.com/go-gitea/gitea/tree/main/contrib/environment-to-ini
name: {{app.name}}

services:
  app:
    image: gitea/gitea:{{app.version | default("1.24")}}

    container_name: {{app.name}}
    environment:
      - USER_UID=1000
      - USER_GID=1000

      - GITEA__security__INSTALL_LOCK=true

      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__service__REQUIRE_SIGNIN_VIEW=true
      - GITEA__service_0X2E_EXPLORE__REQUIRE_SIGNIN_VIEW=true

      - GITEA__server__ROOT_URL=https://{{app.name}}.{{global.domain}}/
      - GITEA__server__SSH_DOMAIN={{app.name}}.{{global.domain}}
      - GITEA__server__SSH_PORT={{app.ssh_port | default('2222')}}

    networks:
      - {{docker.infra.proxy_network}}
    ports:
      - "{{app.ssh_port | default('2222')}}:22" # make internal SSH accessible
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - data:/data
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{app.name}}.rule=Host(`{{app.name}}.{{global.domain}}`)
      - traefik.http.services.{{app.name}}.loadbalancer.server.port=3000
      - traefik.http.routers.{{app.name}}.tls=true
      - traefik.http.routers.{{app.name}}.tls.certresolver={{docker.infra.cert_resolver}}

networks:
  {{docker.infra.proxy_network}}:
    external: true

volumes:
  data:
