---
{% import 'utils.j2' as utils %}
name: {{app.name}}

services:
  app:
    image: portainer/portainer-ce:{{app.version}}

    container_name: {{app.cbiname}}
    
    # See: https://docs.portainer.io/advanced/cli
    command: --admin-password {{ global.password | b64decode | password_hash('bcrypt', global.salt | truncate(22, False, '')) | replace('$', '$$') }}
    networks:
      - {{docker.infra.proxy_network}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data    
    restart: unless-stopped
{{ utils.standard_labels(docker, app, 9000) }}

networks:
  {{docker.infra.proxy_network}}:
    external: true

volumes:
  data:
