---
name: portainer

services:
  app:
    image: portainer/portainer-ce:sts
    # :sts    = Short-Term Support, "bleeding-edge"
    # :latest = LTS

    container_name: ${COMPOSE_PROJECT_NAME}
    
    # See: https://docs.portainer.io/advanced/cli
    command: --admin-password {{ default_password | b64decode | password_hash('bcrypt', default_salt | truncate(22, False, '')) | replace('$', '$$') }}
    networks:
      - {{docker_internal_network}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data    
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_PROJECT_NAME}.{{domain}}`)
      - traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=9000
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.tls.certresolver={{cert_resolver_type}}

networks:
  {{docker_internal_network}}:
    external: true

volumes:
  data:
